* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: red;
}

.header {

}

.header__h1 {

}

.header__h2 {

}

.figure {

}

.figure__img {

}

.main {

}

.main__section {

}

.main__button {

}

.main__h2 {

}

.main__article {

}

.footer {

}

.footer__form {

}

.footer__label {
    
}

.footer__span {

}

.footer__input {

}

.footer__